<div class="game">
  <div ng-if="$ctrl.white > 0 && $ctrl.black > 0">
    Waiting On Opponent...
  </div>
  <div class="flex-container flex-center flex-direction-column">
    <span ng-class="{ 'white' : $ctrl.turn === 'Black' || $ctrl.turn === '', 'player-turn' : $ctrl.turn === 'White' }">{{ $ctrl.white }}</span>
    <span ng-class="{ 'black' : $ctrl.turn === 'White', 'player-turn' : $ctrl.turn === 'Black' }">{{ $ctrl.black }}</span>
  </div>
  <div class="game-message flex-container flex-center">{{ $ctrl.gameMessage }}</div>
  <div class="flex-container flex-center">
    <div ng-class="{ 'overlay' : $ctrl.overlay === true }"></div>
    <table>
      <tbody>
        <tr ng-repeat="row in $ctrl.board track by $index"> 
          <td 
            class="board-cell" 
            ng-repeat="x in $ctrl.board" 
            ng-bind-html="row[$index] | unsafe"
            ng-click="$ctrl.cellClicked($parent.$index, $index)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="board"></div>
</div>