<div class="home">
  <div class="home-button-container">
    <button 
      class="home-button" 
      data-toggle="modal" 
      data-target="#homeModal">
      {{ $ctrl.buttonText }}
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="homeModal" tabindex="-1" role="dialog" aria-labelledby="homeModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{ $ctrl.buttonText }}</h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input ng-model="name" style="width:100%" type="text" id="name" placeholder="Enter Name" />
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button 
            class="btn btn-primary" 
            data-dismiss="modal"
            ng-if="$ctrl.buttonText === 'Create Game'"
            ng-click="$ctrl.createGame({name})">
            {{ $ctrl.buttonText }}
          </button>
          <button 
            class="btn btn-primary" 
            data-dismiss="modal"
            ng-if="$ctrl.buttonText === 'Join Game'"
            ng-click="$ctrl.joinGame({name})">
            {{ $ctrl.buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>