button:focus {
  outline: 0;
}

.home {
  height: 100vh;
  width: 100vw;
  background: url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-button-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button {
  background-color: #F6F740;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  font-size: 50px;
  cursor: pointer;
}

.player-turn {
  color: green;
}

table tr:nth-child(even) td:nth-child(odd) {
  background: #f2f2f2
}

table tr:nth-child(even) td:nth-child(even) {
  background: #b5b5b5
}

table tr:nth-child(odd) td:nth-child(odd) {
  background: #b5b5b5
}

table tr:nth-child(odd) td:nth-child(even) {
  background: #f2f2f2
}

.board-cell {
  font-size: 50px;
  text-align: center;
  width: 80px;
  height: 80px;
  border: 1px solid;
}

.cell-dark {
  background: red;
}

.cell-light {
  background: green;
}