body {
  background: #B4AEAE;
}

button:focus {
  outline: 0;
}

.home {
  height: 100vh;
  width: 100vw;
  background: url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-button-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button {
  background-color: #F6F740;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  font-size: 50px;
  cursor: pointer;
}

.player-turn {
  color: green;
  font-size: 32px;
  font-weight: bold;
}

.white {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.black {
  color: black;
  font-size: 32px;
  font-weight: bold;
}

table tr:nth-child(even) td:nth-child(odd) {
  background: #b5b5b5
}

table tr:nth-child(even) td:nth-child(even) {
  background: #f2f2f2
}

table tr:nth-child(odd) td:nth-child(odd) {
  background: #f2f2f2
}

table tr:nth-child(odd) td:nth-child(even) {
  background: #b5b5b5
}

.board-cell {
  font-size: 50px;
  text-align: center;
  width: 80px;
  height: 80px;
  border: 1px solid;
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 640px;
  height: 640px;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.flex-container {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.game-message {
  min-height: 50px;
  font-size: 24px;
}